*{
  margin:0;
  color:white;
  box-sizing: border-box;
}
body{
  background-color:#101322;
}
#header{
  height:80px;
}
#navbar{
  display:flex;
  justify-content:center;
  align-items: center;
}
#footer{
  display:flex;
  justify-content: center;
}

.top-bar{
  display:flex;
  width:100%;
  justify-content: space-between;
  padding:10px 20px;
  align-items: center;
}
.nav-center{
  width:30%
}
.nav-center-form{
  display:flex;
  max-width:100%
}
.nav-center-button{
  width:30px;
  height:50px;
  background-color: white;
  border:1px solid white;
  border-radius: 5px 0 0 5px;
  border-right: none;
  outline:none;
}
.nav-search-icon{
  color:#101322;
}
.nav-center-input{
  width: calc(100% - 30px);
  height:50px;
  background-color: white;
  border:1px solid white;
  border-radius: 0 5px 5px 0;
  border-right: none;
  outline:none;
  color:black;
}
ul{
  list-style: none;
  display:inline;
  padding:0;
}
li{
  display:flex;
  padding:10px;
}
.align-center{
  display:flex;
  align-items: center;
}
#logo{
  display:inline;
  width:132px;
  height:26px;  
}
a{
  text-decoration: none;
}
#main{
  display:flex;
  justify-content: space-around;
}
.main-left{
  width:48%;
  background-color: #172036;
  border-radius: 20px;
  /* box-sizing: border-box; */
}
.main-right{
  width:48%;
}
.main-left-inside{
  width:100%;
  padding:30px;
}
.pic{
  height:160px;
  width:160px;
  border-radius: 50%;
  border:none;
  background-image: url(https://an2-glx.amz.wtchn.net/assets/default/user/photo_file_name_large-ab0a7f6a92a282859192ba17dd4822023e22273e168c2daf05795e5171e66446.jpg);
}
.nickname{
  padding:0.5em 0;
  font-size:1.2em;
}
.follow{
  font-size: 1.2em;
}
.id{
  background-color: #101322;
  border:none;
  border-radius: 5px;
  padding:2px;
  font-size: 16px;
}

.invite{
  background-color: #172036;
  border-radius: 20px;
  padding:0 20px;
  margin-top:30px;
}
.main-bottom{
  display:flex;
  justify-content: space-around;
}
.main-bottom-item{
  padding:30px;
  width:100%;
  max-width:400px;
}
.contents{
  display:flex;
  justify-content: space-around;
  padding:30px 0;
}
.contents-item{
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  position: relative;
  width:100%;
}
.bor-right{
  border-right: 1px solid #3e3f43
}
.calender{
  width:100%;
  display: flex;
  justify-content: space-around;
}
.calender-item{
  display:flex;
  flex:1;
  justify-content: center;
  align-items: center;
}
.review{
  width:100%; 
  background-color: #172036;
  border-radius: 20px;
}
.review-item{
  display:flex;
  flex:1;
  align-items: center;
  justify-content: space-between;
  height:58px;
}
.bor-bottom{
  border-bottom:1px solid #3e3f43
  
}
.bor-top{
  border-top:1px solid #3e3f43
  
}
.pad015{
  padding:0 15px;
}
.gaip{
  display:flex;
  justify-content: space-around;
  text-align:center;
  padding:30px 0;
}
.gaip-item{
  flex:1;
}
.pad-bot{
  padding-bottom:30px;
}
.pad-top{
  padding-top:30px;
}
.text-cen{
  text-align:center;
}
.bot-btn{
  width:140px;
  height:40px;
  background-color: #4263eb;
  margin-top:12px;
  border-radius: 4px;
  font-weight:600;
  border:none;
}
.popcorn{
  background-color: #172036;
  border-radius: 10px;
  width:58px;
  height:28px;
  text-align: center;
  line-height: 28px;
}
.footer-inside{
  display: flex;
  justify-content: space-between;
  min-width:700px;
  height:80px;
  align-items: center;
}
.netflix{
  background: url(https://an2-glx.amz.wtchn.net/images/ex_netflix_logo_square.png) center center / 101% no-repeat;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.tiving{
  background: url(https://an2-img.amz.wtchn.net/image/v2/AmxtezC90nGQwOmwj0MCPA.png?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKd0lqb2lMM1l5TDNOMGIzSmxMM1ZwYldGblpTOHhOalV3TXpRMk9UQXhNVE0xTlRBNU16TTRJbjAudWd0X0VwOHg1ZDBnZTBTRjhiNkhrUG52Qzd5cndhRnl6bEt2dEZzVGhzTQ) center center / 101% no-repeat;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.watcha{
  background: url(https://an2-glx.amz.wtchn.net/images/ex_watcha_logo_square.png) center center / 101% no-repeat;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.wavve{
  background: url(https://an2-glx.amz.wtchn.net/images/ex_wavve_logo_square.png) center center / 101% no-repeat;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.inline{
  display:flex;
  justify-content: space-around;
}
.disney{
  background: url(https://an2-img.amz.wtchn.net/image/v2/ryWIr0pNWgEBU-qIsDRsYw.png?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKd0lqb2lMM1l5TDNOMGIzSmxMM1ZwYldGblpTOHhOalF5TURZME16SXlPVEUxT0RJNE9EazFJbjAuVEM5ZjBaTnBlUmM5MklUTWdVakxmM3BieElmaTFHLTNWc0d2RUxqa3FDSQ) center center / 101% no-repeat;
  width: 70px;
  height: 70px;
  border-radius: 50%
}
.li-pad{
  padding:10px;
}
.gear{
  margin:0 10px;
}
.log-btn{
  background-color: rgb(255, 5, 88);
  border:none;
  border-radius: 5px;
  width:80px;
  height:30px;
  font-weight: bold;
}